body {
    background-color: #eea29a
}
h3 { 
    clear: left;
}

    /* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 30%;
    font-size: 17px;
}

    /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;    
}

   /* Add a color to the active/current link */
.topnav a.active {
    background-color: #c94c4c;
    color: white;
}
    
.tg {
    border-collapse: collapse;
    border-spacing: 6;
    border-color: #C44D58;
    float:left;
   padding-top: 100px;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #C44D58;
    color: #002b36;
    background-color: #F9CDAD;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #C44D58;
    color: #fdf6e3;
    background-color: #FE4365;
}

.tg .tg-cly1 {
    text-align: left;
    vertical-align: middle
}

.tg .tg-0lax {
    text-align: left;
    vertical-align: top
}


.græntafla {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #bbb;
    clear:left;

}

.græntafla td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #bbb;
    color: #594F4F;
    background-color: #E0FFEB;
}

.græntafla th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #bbb;
    color: #493F3F;
    background-color: #9DE0AD;
}

.græntafla .græntafla-cly1 {
    text-align: left;
    vertical-align: middle
}

.græntafla .græntafla-0lax {
    text-align: left;
    vertical-align: top
}

</style >

</style >